<p id="notice"><%= notice %></p>

<h1>Processes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Area</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @cprocesses.each do |cprocess| %>
      <tr>
        <td><%= link_to cprocess.name, cprocess %></td>
        <td><%= cprocess.abbreviation %></td>
        <td><%= cprocess.area.name %></td>
        <td><%= link_to 'Edit', edit_cprocess_path(cprocess) %></td>
        <td><%= link_to 'Destroy', cprocess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cprocess', new_cprocess_path %>


 <% @cprocesses.each do |cprocess| %>
  Cprocess.create([{ name: '<%=cprocess.name%>', abbreviation: '<%=cprocess.abbreviation%>', area_id: <%=cprocess.area_id%>}])
<% end %>