<p id="notice"><%= notice %></p>

<h3><%= @cprocess.name %> (<%= @cprocess.abbreviation %>)</h3>
<h5><%= @cprocess.area.name %></h5>

<p>
  <strong>Purpose:</strong>
  <%= @cprocess.purpose %>
</p>

<%= link_to 'Edit', edit_cprocess_path(@cprocess) %> |
<%= link_to 'Back', cprocesses_path %>


<h3>Listing Activities<span>
<%= link_to('+', new_cprocess_activity_path(@cprocess) , :class => 'btn btn-sm btn-default') %>
</span>
</h3>
<table class="table">
  <thead>
    <tr>
      <th>Order</th>
      <th>Responsible</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @cprocess.activities %>
  </tbody>
</table>