<p id="notice"><%= notice %></p>

<h3><%= @project.name %></h3>
<h5><%= @project.description %></h5>

<h6><%= @audit.description %></h6>

<%= link_to 'Edit', edit_project_audit_path(@project,@audit) %> |
<%= link_to 'Back', project_path(@project) %>

<h3>Processes<span>
</span>
</h3>

<div id="accordion" class="panel-group">
	<%= render @audit.audit_processes %>
</div>
