<h4><%= link_to 'Back', project_path(@project)  %></h4>

<h3><%= @project.name %></h3>
<h5><%= @project.description %></h5>

<h6><%= @audit.sprint_text %></h6>

<p id="notice"><%= notice %></p>

<h3>Processes<span>
</span>
</h3>

<div id="accordion" class="panel-group">
	<%= render @audit.audit_processes %>
</div>
