<p id="notice"><%= notice %></p>

<h1>Listing Cprocess Activities</h1>

<table>
  <thead>
    <tr>
      <th>Cprocess</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cprocess_activities.each do |cprocess_activity| %>
      <tr>
        <td><%= cprocess_activity.cprocess %></td>
        <td><%= cprocess_activity.activity %></td>
        <td><%= link_to 'Show', cprocess_activity %></td>
        <td><%= link_to 'Edit', edit_cprocess_activity_path(cprocess_activity) %></td>
        <td><%= link_to 'Destroy', cprocess_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cprocess activity', new_cprocess_activity_path %>
